@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


@font-face {
  font-family: 'Garet';
  font-weight: normal;
  font-style: normal;
  src: url("../public/Garet-Book.ttf");
}

:root {
  --MCOLOR: #2E14A3;
  --Garet: 'Garet', sans-serif;
  --bgcolor: #0c0c14;
  --rubik: 'Rubik', sans-serif;
  --orange: #fdb314;
  --darkOrange: #ff9301;
  --wrapperWidth: 94%;
  --bgsection: #0e0e17;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  display: flex;
  flex-direction: row;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  width: var(--wrapperWidth);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.opacity-0 {
  opacity: 0;
  transform: translateY(-100%);
  height: 0;
}

.opacity-1 {
  opacity: 1;
}

/* HEADER */
.header {
  width: 80px;
  height: 100vh;
  background-color: var(--bgcolor);
  display: flex;
  flex-direction: column;
  position: fixed;
  font-family: var(--Garet);
}

.header-logo {
  background-color: var(--MCOLOR);
  width: 100%;
  height: 80px;
  cursor: pointer;
}

.header-img {
  width: inherit;
  height: auto;
}

.header-nav-area {
  width: inherit;
  height: auto;
}

.header-nav>li {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.header-nav>li:first-child {
  height: 150px;
}

.header-icon {
  font-size: 2rem;
}

.nav-item {
  position: relative;
}

.nav-item .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: var(--bgcolor);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 33%;
  left: 110%;
  font-family: var(--rubik);
  font-size: 0.9rem;
}

.nav-item:first-child .tooltiptext {
  top: 41%;
}

.nav-item .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--bgcolor) transparent transparent;
}

.nav-item:hover .tooltiptext {
  visibility: visible;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.lang-btn {
  padding: 0.2rem 0.6rem;
  font-family: var(--rubik);
  font-size: 1rem;
  background: transparent;
  color: white;
  cursor: pointer;
}

.active {
  background-color: #fdb314;
  color: var(--bgcolor);
}

/* HOME */
.home-banner {
  margin-left: 80px;
  background-color: black;
  color: white;
  padding: 2rem 4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--rubik);
}

.home-banner>p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.welcome {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.welcome > strong {
  color: var(--MCOLOR);
}

.welcome > small {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.text-slider {
  font-size: 2rem;
  color: #fdb314;
  transition: all 0.5s ease-in-out;
}

.home-banner-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-image: url("C:\Users\mhmmt\website\public\images\img-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

}

.home-banner-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10rem;
  width: 100%;
}

/* ABOUT */
@keyframes slide-top {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slide-top-2 {
  animation: slide-top 2.5s both;
}
.slide-top-3 {
  animation: slide-top 3s both;
}
.slide-top-4 {
  animation: slide-top 4s both;
}

.about {
  background-color: var(--bgsection);
  color: white;
  margin-left: 80px;
  width: 100%;
  border: none;
}

.about-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.about-social {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  opacity: 0;
}

.social-media-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-skills {
  width: 66.66%;
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  opacity: 0;
}

.about-avatar {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border-color: var(--darkOrange);
  border-style: solid;
  border-width: 5px;
  position: relative;
}

.social-icons {
  display: flex;
  flex-direction: row;
  width: 60%;
  font-size: 1.3rem;
  justify-content: space-around;
  position: relative;
  top: -22px;
}

.social-icons-item {
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--bgcolor);
}

.social-icons-item:hover {
  background-color: var(--darkOrange);
  color: var(--bgcolor);
}

.social-icons-item:nth-child(1) {
  top: -23px;
}

.social-icons-item:nth-child(4) {
  top: -23px;
}

.about-definiton {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: var(--rubik);
}

.about-definiton>h4 {
  margin-bottom: 0.5rem;
  font-weight: 100;
  color: gray;
}

.about-definiton>h1 {
  letter-spacing: 1px;
}

.about-skills {
  font-family: var(--rubik);
}

.skills-card {
  width: 100%;
  height: 100%;
  padding: 5rem;
}

.skills-item-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 0.5rem;
}

.skills-item {
  width: 5.7rem;
  height: 5.7rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--bgcolor);
  align-items: center;
  justify-content: center;
  box-shadow: rgb(41, 40, 38) 0px 2px 20px;
}

.skills-item>img {
  width: inherit;
  height: auto;
  padding: 0.5rem;
  margin-top: 2.3rem;
}

.skills-tooltip {
  position: relative;
  top: 1rem;
  background-color: var(--bgcolor);
  border: 1px solid var(--bgcolor);
  padding: 0.5rem;
  border-radius: 0.5rem;
  visibility: hidden;
}

.skills-item:hover .skills-tooltip {
  visibility: visible;
}
.separator {
  background-image: url("https://nairo.ibthemespro.com/img/border-dark.png");
  background-repeat: repeat-x;
  background-size: auto 6px;
  filter: invert(1);
  height: 1rem;
}

/* MOB-BUTTON */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotate-center {
	-webkit-animation: rotate-center 0.5s ease-in-out both;
	        animation: rotate-center 0.5s ease-in-out both;
}
.mob-button {
  width: 3rem;
  height: 3rem;
  background-color: var(--darkOrange);
  position: fixed;
  z-index: 999;
  right: 1rem;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.mob-list  {
  font-size: 1.5rem;
  color: #fff;
}

/* WHAT I DO */
.what-i-do {
  margin-left: 80px;
  background-color: #0f0d13;
  font-family: var(--rubik);
  width: 100%;
  height: 100vh;
  color: #fff;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
}
.section-header-text {
  color: gray;
  font-weight: 100;
}
.what-card-wrapper {
  display: flex;
  flex-direction: row;
  padding: 4rem 0rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.what-card {
  width: 22rem;
  height: 22rem;
  background-color: #010101;
  border-radius: 1rem;
  padding: 1.5rem;
  color: #fff;
  box-shadow: rgba(47, 48, 49, 0.411) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.what-card:hover .hover-bg {
  width: 40rem;
  height: 40rem;
  margin-top: -8rem;
  margin-left: -8rem;
}
.hover-bg {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  width: 12rem;
  height: 12rem;
  background-color: var(--darkOrange);
  margin-top: -5rem;
  margin-left: -4rem;
  transition: all 0.5s ease-in;
}
.what-card:hover .hover-bg-dark {
  width: 13rem;
  height: 13rem;
}
.hover-bg-dark {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  background-color: var(--bgsection);
  margin-top: -5rem;
  margin-left: -4rem;
  display: block;
  transition: all 0.5s ease-in;
}
.what-card-icon {
  font-size: 4rem;
  position: relative;  
  z-index: 2;
  color: #fff;
}
.what-card-text-header {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 0rem 1.5rem 0rem;
  position: relative;
  z-index: 2;
}
.what-card-text {
  font-size: 1rem;
  color: rgb(185, 180, 180);
  font-weight: 100;
  position: relative;
  z-index: 2;
}
.what-card:hover .what-card-text {
  color: var(--bgsection);
}

/* PORTFOLIO */
.portfolio {
  margin-left: 80px;
  background-color: var(--bgsection);
  font-family: var(--rubik);
  width: 100%;
  height: 100vh;
  color: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.portfolio-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5rem 2rem;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
}
.portfolio-card {
  width: 500px;
  height: 250px;
  background-color: #010101;
  box-shadow: #010101 0px 7px 29px 0px;
}
.portfolio-img {
  width: inherit;
  height: inherit;
  border-radius: 5px;
}

/* 
  ##Cihaz = Laptoplar, Masaüstü
  ##Ekran = 1281px Arası Ekranlar
*/

@media (min-width: 1281px) {
  .mob-button {
    display: none;
  }
}
/* 
  ##Cihaz = Laptoplar, Masaüstü
  ##Ekran = 1025px to 1280px Arası Ekranlar
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .about-social {
    margin-left: 3rem;
  }
  .mob-button {
    display: none;
  }
  .what-i-do {
    height: 100%;
  }
  .what-i-do > h1 {
    text-align: center;
  }
  .what-card-wrapper {
    align-items: center;
    justify-content: space-around;
    row-gap:0.5rem;
  }
  .what-card {
    width: 17rem;
    height: 22rem;
  }
  .portfolio {
    height: 100%;
  }
}

/* 
  ##Cihaz = Tabletler, Ipad (portrait/dikey modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container-wrapper {
    width: 100%;
  }
  .home-banner-wrapper {
    background-size: contain;
    background-position: top;
  }
  .header {
    height: 100%;
    position: fixed;
    z-index: 1;
  }
  .about-container {
    flex-wrap: wrap;
    padding: 3rem 0rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .social-icons {
    width: 100%;
  }
  .about-skills {
    padding: 1rem 0rem;
    width: 100%;
    text-align: center;
  }
  .mob-button {
    display: none;
  }
  .what-i-do {
    height: 100%;
  }
  .what-i-do > h1 {
    text-align: center;
  }
  .what-card-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap:0.5rem;
  }
  .portfolio {
    height: 100%;
  }

}

/* 
  ##Cihaz = Tabletler, Ipad (landscape/yatay modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container-wrapper {
    width: 100%;
  }
  .home-banner-wrapper {
    background-size: contain;
    background-position: top;
  }
  .header {
    height: 100%;
    position: fixed;
    z-index: 1;
  }
  .about-container {
    flex-wrap: wrap;
    padding: 3rem 0rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .social-icons {
    width: 100%;
  }
  .about-skills {
    padding: 1rem 0rem;
    width: 100%;
    text-align: center;
  }
  .mob-button {
    display: none;
  }
  .what-i-do {
    height: 100%;
  }
  .what-i-do > h1 {
    text-align: center;
  }
  .what-card-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap:0.5rem;
  }
  .portfolio {
    height: 100%;
  }

}

/* 
  ##Cihaz = Düşük Çözünürlüklü Tablet ve Mobil Ekranlar (Landscape / Yatay Modda)
  ##Ekran = 481px to 767px Arası Ekranlar
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container-wrapper {
    width: 100%;
  }
  .home-banner-wrapper {
    background-size: contain;
    background-position: top;
  }
  .header {
    position: fixed;
    z-index: 1;
  }

  .home-banner {
    margin-left: 0;
  }
  .about {
    margin: 0;
  }
  .about-container {
    flex-wrap: wrap;
    padding: 3rem 0rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .about-social {
    width: 75%;
    margin: 0;
    padding: 0rem 1rem;
  }
  .social-icons {
    width: 55%;
  }
  .about-skills {
    padding: 1rem 0rem;
    width: 100%;
    text-align: center;
  }
  .about-avatar {
    width: 100%;
    height: 100%;
  }
  .skills-item {
    width: 5rem;
    height: 5rem;
  }
  .what-i-do {
    height: 100%;
    margin: 0;
  }
  .what-i-do > h1 {
    text-align: center;
  }
  .what-card-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap:0.5rem;
  }
  .portfolio {
    height: 100%;
    margin: 0;
  }
  .portfolio-card {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
  .portfolio-img {
    width: 100%;
    max-width: 500px;
  }

}

/* 
  ##Cihaz = En Çok Tercih Edilen Mobil Boyutlar (Portrait/Dikey Modda)
  ##Ekran = 320px to 479px Arası Ekranlar
*/

@media (min-width: 100px) and (max-width: 480px) {
  .container-wrapper {
    width: 100%;
  }
  .home-banner-wrapper {
    background-size: contain;
    background-position: top;
  }
  .header {
    position: fixed;
    z-index: 1;
  }

  .home-banner {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1rem 0rem 0rem;
  }
  .welcome {
    font-size: 2rem;
  }
  .home-banner-left {
    margin-left: 1rem;
  }
  
  .about {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .about-container {
    flex-wrap: wrap;
    padding: 3rem 0rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .about-social {
    width: 100%;
    margin: 0;
    padding: 0rem 1rem;
  }
  .social-icons {
    width: 70%;
  }
  .about-skills {
    padding: 1rem 0rem;
    width: 100%;
    text-align: center;
  }
  .about-avatar {
    width: 100%;
    height: 100%;
  }
  .skills-item-wrapper {
    row-gap: 0.2rem;
    column-gap: 0.1rem;
  }
  .skills-item {
    width: 4rem;
    height: 4rem;
  }
  .skills-card > h1 {
    text-align: center;
    padding: 0;
  }
  .what-i-do {
    height: 100%;
    margin: 0;
  }
  .what-i-do > h1 {
    text-align: center;
  }
  .what-card-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap:0.5rem;
  }
  .what-card {
    width: 100%;
    min-height: 17rem;
  }
  .portfolio {
    height: 100%;
    margin: 0;
  }
  .portfolio-card {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
  .portfolio-img {
    width: 100%;
    max-width: 500px;
  }
}